/*---------------------------------- Global style------------------------------------- */

html {
  box-sizing: border-box;
  font-size: 0.625em;
  font-size: calc(1em * 0.625);
  --text: #363636;
  --dark-purple: #7e4a7c;
  --medium-purple: #b878b5;
  --light-purple: #ffeefe;
}
body {
  font-size: 1.6em;
  font-family: 'Open Sans';
}
html,
body {
  margin: 0;
  padding: 0;
}

article {
  max-width: 1200px;
  margin-inline: auto;
}

/*---------------------------------- Titles and text ------------------------------------ */
h1,
h2,
h3,
nav {
  font-family: 'Economica';
}

h1 {
  font-size: 5rem;
  color: var(--dark-purple);
}
h2 {
  font-size: 4rem;
  color: var(--medium-purple);
}
h3 {
  font-size: 3rem;
  color: #7e4a7c;
  margin: 0;
}
.italic-text {
  color: var(--dark-purple);
  font-style: italic;
  margin: 0 0 1em 0;
}
li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
}
/*---------------------------------- Button ------------------------------------ */
.button {
  font-size: 2rem;
  color: var(--light-purple);
  background-color: #7e4a7c;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0.6em 0.8em;
  width: fit-content;
  cursor: pointer;
}

.button-form {
  font-size: 2.5rem;
}

/*---------------------------------- Header------------------------------------ */
.header-page img {
  display: block;
  margin-inline: auto;
}
.nav-page {
  background-color: var(--dark-purple);

  font-size: 2.4rem;
  text-transform: uppercase;
}
.nav-page ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.header-page {
  text-align: center;
}
.nav-page a {
  color: var(--light-purple);
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-page a:hover {
  color: var(--dark-purple);
  background-color: var(--light-purple);
}

/*---------------------------------- About ------------------------------------ */

.about-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2rem;
}

.about-element {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.about-element li {
  margin: 1em 0;
}
.about-element li img {
  margin-right: 1em;
}

/*---------------------------------- Teachers ------------------------------------ */

.teachers {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.teachers h2 {
  flex-basis: 100%;
}
.teacher-card {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 2rem;
  padding: 5;
  max-width: 550px;
}
.teacher-infos {
  display: flex;
  flex-direction: column;
}
/*---------------------------------- Classes ------------------------------------ */

.table-classes {
  border-collapse: collapse;
  width: 90%;
  margin-inline: auto;
  text-align: center;
}
.table-classes td {
  border: solid 1px var(--medium-purple);
  padding: 1rem;
}
.table-classes tbody td:empty {
  background-color: var(--light-purple);
}
.table-classes thead {
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

/*---------------------------------- Form ------------------------------------ */

.form-booking {
  border: var(--medium-purple) 1px solid;
  padding: 1rem;
  color: var(--dark-purple);
  display: flex;
  flex-direction: column;
}
.form-booking fieldset {
  background-color: var(--light-purple);
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
}
.fieldset-contact label {
  width: 50%;
}
.fieldset-contact input {
  width: 60%;
  border: var(--medium-purple) 1px solid;
  padding: 0.4em 0;
}
.fieldset-reservation label {
  width: 33%;
}
.fieldset-reservation select {
  width: 60%;
  border: var(--medium-purple) 1px solid;
  background-color: white;
  padding: 0.4em 0;
}
.form-booking button {
  align-self: center;
}

/*---------------------------------- Footer------------------------------------ */
.footer-nav-socials {
  background-color: var(--dark-purple);
  text-align: center;
  margin-top: 5rem;
  padding: 3rem;
}
.copyright {
  font-size: 1.4rem;
  text-align: center;
}
.copyright {
  color: white;
  background-color: #363636;
  padding: 5rem;
}
.copyright img {
  width: 50px;
}
.copyright a {
  color: white;
}
.fa-brands {
  color: white;
  padding: 0 2rem;
}
