/* ------------------FONTS---------------------- */
/* Cardo */
@font-face {
  font-family: 'Cardo';
  src: url(../ressources/fonts/cardo/cardo-bold.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Cardo';
  src: url(../ressources/fonts/cardo/cardo-regular.woff) format('woff');
}
@font-face {
  font-family: 'Cardo';
  src: url(../ressources/fonts/cardo/cardo-italic.woff) format('woff');
  font-style: italic;
}
/* SpecialElite */
@font-face {
  font-family: 'SpecialElite';
  src: url(../ressources/fonts/specialelite/SpecialElite.woff) format('woff');
}

/* ------------------Global---------------------- */
body {
  line-height: 1.5;
  font-family: 'Cardo';
}
.container {
  max-width: 420px;
  margin-inline: auto;
}

/* ------------------Titles---------------------- */
h1,
h2,
h3 {
  font-family: 'SpecialElite';
}
h1 {
  font-size: 4em;
  line-height: 2;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
}
h3::before {
  content: '❧ ';
}

/* ------------------Quotes---------------------- */

blockquote p::before {
  content: '« ';
}
blockquote p::after {
  content: ' »';
}
blockquote p {
  font-style: italic;
  font-size: 1.2rem;
}
cite {
  font-style: normal;
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* ------------------header---------------------- */

.page-header {
  border-bottom: 1px solid black;
}
/* ------------------paragraphs---------------------- */

section p::first-letter {
  font-family: 'SpecialElite';
  font-size: 2rem;
  padding: 0.2rem 0.7rem 0.7rem 0;
  float: left;
}
/* -----------------links---------------------- */

a {
  text-decoration: underline dashed;
  text-underline-offset: 0.4em;
}

/* ------------------footer---------------------- */
.page-footer p:last-child {
  text-align: center;
  font-size: 3rem;
}
